body {
    margin: 0;
    padding: 0;
    background-color: #0f0f23;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    color: #cccccc;
    overflow: hidden;
}

h1, h1 a {
    font-size: 20px;
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
    text-align: center;
}

.attrib {
    float: right;
    font-size: 14px;
    color: #ffffff;
}

text.day {
    fill: #999999;
}

text.label {
    fill: #000000;
}

text.label.medal {
    font-weight: bold;
}

polyline.ranking {
    fill: none;
    stroke-width: 4;
}

line.tickLine {
    stroke: #999999;
}
